/* CSS代码 */
.frmenu .addfolder,.frmenu .delfolder {
    display: none; /* 初始状态下隐藏该span */
  }
  .frmenu .chico {
    display: none; /* 初始状态下隐藏该span */
  }
  #iframere {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #iframere body {
    overflow: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  [contenteditable="true"]:focus {
    outline: none;
  }
  .fixed-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
  }
  .bsa-sidebar .bsa-sidebar-body{padding-bottom:180px;}
  .loading {
    text-align: center;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    animation: dotBounce 0.8s infinite ease-in-out;
  }
  
  .dot1 {
    animation-delay: -0.24s;
  }
  
  .dot2 {
    animation-delay: -0.12s;
  }  @keyframes dotBounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  .bsa-sidebar .bsa-sidebar-header{border:none;}
  .error-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#f8d7da;
    color: #b02a37;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
    font-size:14px;
    text-align: center;
  }
  
  /* 设置关闭按钮的样式 */
  .error-box .close-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #b02a37;
    font-size: 18px;
    cursor: pointer;
  }
  .bi-copilot{background:url(../images/copilot.png) no-repeat;width:20px;height:20px;display: inline-block;background-size: cover;}